<div class="container">
	<div class="demo-headline">
    <h1 class="demo-logo">
      <div class="logo"></div>
      GoCo
      <small>Empowering you to make good commuting choices</small>
    </h1>
  </div> <!-- /demo-headline -->
  <div class="container">
		<div class="row">
		  <div class="span2 offset5">
		  	<a href="#" class="btn btn-primary btn-large btn-block">Sign up now</a>
		 </div>
		</div>
  </div>
</div>


