
<div class="container">
	<div class="row">
    <h4 style="color:#BDC3C7; text-align:right; font-size:1.1em; margin-right:40px;">April 6, 2013</h4>
	</div><!-- end row -->
  <div class="row" style=" margin-bottom:20px;">
    <h1 class="text-center" style="margin: 25px 0;">Today I am 
    <select value="transport" tabindex="1" name="transport" style="display:inline; width:200px;">
      <option value="driving" selected="selected">(method of transport)</option>
      <option value="0">Choose transport</option>
      <option value="1">Spider Man</option>
      <option value="2">Wolverine</option>
      <option value="3">Captain America</option>
      <option value="Crocodile">Crocodile</option>
    </select>
    to
    <select value="destination" tabindex="1" name="destination" style="display:inline; width:150px;">
      <option value="work" selected="selected">(destination)</option>
      <option value="0">Choose hero</option>
      <option value="1">Spider Man</option>
      <option value="2">Wolverine</option>
      <option value="3">Captain America</option>
      <option value="Crocodile">Crocodile</option>
    </select>
    with 
    <select value="passengers" tabindex="1" name="passengers" style="display:inline; width:150px;">
      <option value="0" selected="selected">(number of people)</option>
      <option value="1">0 people</option>
      <option value="2">1 person</option>
      <option value="3">2 people</option>
      <option value="4">3 people</option>
      <option value="5">4 people</option>
    </select>
    </h1>
  </div><!-- end row -->
  <div class="row">
      <div class="span2" style="padding-left:25px;">
        <%= image_tag "icons/icon-money.svg" %>
      </div>
      <div class="span6" style="margin-top:30px;">
        <h4>You will save $10.</h4>
      </div>
      <div class="span4" style="margin-top:30px;">
        <div class="progress">
          <div class="bar" style="width: 40%;"></div>
          <div class="bar bar-warning" style="width: 10%;"></div>
          <div class="bar bar-danger" style="width: 10%;"></div>
          <div class="bar bar-success" style="width: 10%;"></div>
          <div class="bar bar-info" style="width: 10%;"></div>
        </div>
      </div>
  </div><!-- end row -->
  <div class="row">
      <div class="span2" style="padding-left:25px;">
        <%= image_tag "icons/icon-health.svg" %>
      </div>
      <div class="span6" style="margin-top:30px;">
        <h4>You will burn 120 calories.</h4>
      </div>
      <div class="span4" style="margin-top:30px;">
        <div class="progress">
          <div class="bar" style="width: 40%;"></div>
          <div class="bar bar-warning" style="width: 10%;"></div>
          <div class="bar bar-danger" style="width: 10%;"></div>
          <div class="bar bar-success" style="width: 10%;"></div>
          <div class="bar bar-info" style="width: 10%;"></div>
        </div>
      </div>
  </div><!-- end row -->
  <div class="row">
      <div class="span2" style="padding-left:25px;">
        <%= image_tag "icons/icon-env.svg" %>
      </div>
      <div class="span6" style="margin-top:30px;">
        <h4>Your carbon footprint will be 1000x lower.</h4>
      </div>
      <div class="span4" style="margin-top:30px;">
        <div class="progress">
          <div class="bar" style="width: 40%;"></div>
          <div class="bar bar-warning" style="width: 10%;"></div>
          <div class="bar bar-danger" style="width: 10%;"></div>
          <div class="bar bar-success" style="width: 10%;"></div>
          <div class="bar bar-info" style="width: 10%;"></div>
        </div>
      </div>
  </div><!-- end row -->
  <div class="row" style="background:#1ABC9C; height:150px; margin-top:25px; margin-bottom:25px; margin-right:0; width: 100%;">
    
  </div><!-- end row -->
  <div class="row">
    (Rewards)
  </div><!-- end row -->
</div>


