
<div class="container">
	<div class="row">
    <h4 class="text-center">Today is April 6, 2013</h4>
	</div><!-- end row -->
  <div class="row">
    <h3 class="text-center">Today I am riding
    <select value="X-Men" tabindex="1" name="herolist" style="display:inline">
      <option value="0">Choose hero</option>
      <option value="1">Spider Man</option>
      <option value="2">Wolverine</option>
      <option value="3">Captain America</option>
      <option value="X-Men" selected="selected">X-Men</option>
      <option value="Crocodile">Crocodile</option>
    </select>
    to
    <select value="X-Men" tabindex="1" name="herolist" style="display:inline">
      <option value="0">Choose hero</option>
      <option value="1">Spider Man</option>
      <option value="2">Wolverine</option>
      <option value="3">Captain America</option>
      <option value="X-Men" selected="selected">work</option>
      <option value="Crocodile">Crocodile</option>
    </select>
    </h3>
  </div><!-- end row -->
  <div class="row">
      <div class="span2">
        <%= image_tag "icons/icon-money.svg" %>
      </div>
      <div class="span3">
        <h4>You will save $10.</h4>
      </div>
      <div class="span4">
        <div class="progress">
          <div class="bar" style="width: 40%;"></div>
          <div class="bar bar-warning" style="width: 10%;"></div>
          <div class="bar bar-danger" style="width: 10%;"></div>
          <div class="bar bar-success" style="width: 10%;"></div>
          <div class="bar bar-info" style="width: 10%;"></div>
        </div>
      </div>
  </div><!-- end row -->
  <div class="row">
      <div class="span2">
        <%= image_tag "icons/icon-health.svg" %>
      </div>
      <div class="span3">
        <h4>You will burn 120 calories.</h4>
      </div>
      <div class="span4">
        <div class="progress">
          <div class="bar" style="width: 40%;"></div>
          <div class="bar bar-warning" style="width: 10%;"></div>
          <div class="bar bar-danger" style="width: 10%;"></div>
          <div class="bar bar-success" style="width: 10%;"></div>
          <div class="bar bar-info" style="width: 10%;"></div>
        </div>
      </div>
  </div><!-- end row -->
  <div class="row">
      <div class="span2">
        <%= image_tag "icons/icon-env.svg" %>
      </div>
      <div class="span3">
        <h4>Your carbon footprint will be 1000x lower.</h4>
      </div>
      <div class="span4">
        <div class="progress">
          <div class="bar" style="width: 40%;"></div>
          <div class="bar bar-warning" style="width: 10%;"></div>
          <div class="bar bar-danger" style="width: 10%;"></div>
          <div class="bar bar-success" style="width: 10%;"></div>
          <div class="bar bar-info" style="width: 10%;"></div>
        </div>
      </div>
  </div><!-- end row -->
  <div class="row">
    (Commute Time)
  </div><!-- end row -->
  <div class="row">
    (Rewards)
  </div><!-- end row -->
</div>


